.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.instagram-logo {
  text-align: center;
}

.instagram-logo img {
  max-width: 100px;
}
