/* public/style.css */
/* Tambahkan aturan CSS sesuai keinginan Anda */
.container {
    margin-top: 50px;
}
.card {
    border: 1px solid #a7d610;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title {
    color: #333;
}
.card-text {
    color: #666;
}
