<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Aplikasi Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Selamat datang di aplikasi</h1>
                        <p class="card-text text-center">Silakan login <a href="/login">di sini</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
